body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
body .container {
  width: 100dvw;
  height: 100dvh;
}
body .container header {
  width: 100%;
  height: 100px;
  background-color: #c9e4ca;
  display: flex;
  justify-content: space-between;
}
body .container header .afterClickContainer {
  display: none;
  transition: transform 500ms ease-in-out;
  transform: scale(0);
}
@media (max-width: 560px) {
  body .container header .afterClickContainer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display", serif;
    height: 400px;
    top: 50px;
    background: #3b6064;
    position: absolute;
    right: 60px;
    transform: translateX(150%) scale(0);
    z-index: 2;
  }
  body .container header .afterClickContainer ul {
    width: 50%;
    height: 50%;
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
  body .container header .afterClickContainer ul li {
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
  }
  body .container header .afterClickContainer ul li:active {
    color: #c9e4ca;
  }
}
body .container header .left {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 560px) {
  body .container header .left {
    width: 60%;
  }
}
body .container header .left h2 {
  color: #364958;
  font-family: "Inconsolata", monospace;
  font-size: 35px;
  font-weight: 700;
}
@media (max-width: 560px) {
  body .container header .left h2 {
    font-size: 20px;
    font-weight: 700;
  }
}
body .container header .left img {
  width: 60px;
  height: 60px;
}
@media (max-width: 560px) {
  body .container header .left img {
    width: 40px;
    height: 40px;
  }
}
body .container header .middle {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 560px) {
  body .container header .middle {
    display: none;
  }
}
body .container header .middle input {
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  outline-color: #3b6064;
  outline-width: thin;
}
@media (max-width: 560px) {
  body .container header .middle input {
    width: 150px;
  }
}
body .container header .middle button {
  width: 50px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: darkslategray;
  margin-left: 30px;
}
body .container header .middle button img {
  width: 20px;
  height: 20px;
}
body .container header .last {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Barlow", sans-serif;
}
@media (max-width: 560px) {
  body .container header .last {
    width: 30%;
  }
}
body .container header .last .hamburger {
  display: none;
}
@media (max-width: 560px) {
  body .container header .last .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 40px;
  }
  body .container header .last .hamburger .line {
    width: 40px;
    height: 4px;
    background: black;
    border-radius: 20px;
    margin-top: 7px;
    transition: all 0.5s ease;
  }
}
body .container header .last ul {
  width: 70%;
  height: 30px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 560px) {
  body .container header .last ul {
    display: none;
  }
}
body .container header .last ul li {
  cursor: pointer;
  color: #3b6064;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
}
body .container header .last ul li:active {
  color: white;
}
body .container main {
  width: 100%;
  height: calc(100dvh - 100px);
  display: flex;
  margin-top: 40px;
  cursor: default;
}
@media (max-width: 560px) {
  body .container main {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
}
body .container main .left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 560px) {
  body .container main .left {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  }
}
body .container main .left img {
  width: 300px;
  height: 500px;
  border-radius: 5px;
}
body .container main .right {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 560px) {
  body .container main .right {
    width: 100%;
  }
}
body .container main .right h1 {
  font-family: "Inconsolata", monospace;
  text-align: center;
}
@media (max-width: 560px) {
  body .container main .right h1 {
    width: 90%;
  }
}
body .container main .right h3 {
  width: 80%;
  text-align: start;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}
body .container main .right p {
  width: 80%;
  height: 80%;
  line-height: 25px;
  font-size: 16px;
  letter-spacing: 0.7px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
}
@media (max-width: 560px) {
  body .container main .right p {
    width: 90%;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.719);
  }
}
body .container main .right .author {
  font-size: 14px;
}/*# sourceMappingURL=description.css.map */